/*Your styles*/
html{
  height: 100vh;
  display: grid;
}

 body {
  margin: 10px;
}

#content {
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#btn_test{
  width: 100%;
}

input[type]{
  opacity: 1;
  position: static;
  margin: 0;
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
/* .hostFontColor{}
.hostFontFamily{}
.hostFontSize{} */

/*font family, color and size*/
/* .hostFont{} */
/*background color*/
/* .hostBgd{} */
/*lighter background color*/
/* .hostBgdLight{} */
/*darker background color*/
/* .hostBgdDark{} */
/*background color and font*/
/* .hostElt{} */


.hostButton{
  border: 1px solid;
  border-radius: 2px;
  height: 20px;
  vertical-align: bottom;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}